body {
	background-color: #8E8178;
	padding: 50px;
}

main {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
}

iframe {
	border: 2px solid grey;
	border-radius: 5px;
}

reservationForm {
	background-color: rgba(255,255,255,.6);
	width: 16rem;
	border: 3px solid grey;
	border-radius: 20px;
/*	margin-right: 8rem;
*/	margin-left: 5rem;
	padding: 2rem;
	padding-top: 0;
	font-family: Georgia;
}

reservationForm .waitText {
	margin-top: 8rem;
}

reservationForm h2 {
	font-size: 1.4rem;
}

reservationForm strong {
	font-size: 1.1rem;
}

reservationForm input:nth-of-type(1){
	margin-bottom: 4px;
	margin-top: 2rem; 
}

reservationForm #nom {
	margin-left: 21px;
}

reservationForm #btnReservation {
	display: block;
	margin: auto;
	margin-top: 5rem;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	width: 14rem;
